html, body, h1, figure, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;

  display: inherit;
  box-sizing: inherit;
  background: transparent;

}

li {
  list-style: none;
}

#game {
  width: 500px
  margin: 0 auto;
}

.row {
  width: 500px;
  box-sizing: border-box;
  margin: 0 auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.square {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  background-color: white;
  box-sizing: border-box;
  /*outline: 1px solid black;*/
}

.snake {
  background-color: green;
}

.apple {
  /*background-color: red;*/
  background-image: url('../assets/apple.jpeg');
  background-size: cover;
  background-position: center;
}

.scoreboard {
  width: 500px;
  display: block;
  padding: 30px 0px;
  border: 5px solid black;
  background-color: gray;
  font-weight: bold;
  color: white;
  margin: 20px auto;
  text-align: center;
}

.board {
  border: 5px solid black;
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.playagain {
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background-color: lightgreen;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.playagain:hover {
  background-color: green;
  cursor: pointer;
  color: white;
}

h1 {
  text-align: center;
}
